<mat-toolbar class="flex justify-between">
  <a class="flex items-center" routerLink="/home" routerLinkActive="active" >
    <img src="/desenho.svg" class="h-16" >
    <span class="font-extrabold xl:text-xl lg:tesxt-lg text-md">Lista Fácil</span>
  </a>
  <div class=" pr-5 sm:flex gap-5 items-center hidden ">

    <ul class="flex gap-5 pr-3">
      <li><a  mat-button routerLink="/home" routerLinkActive="active" >Início</a></li>
      <li><a  mat-button routerLink="/lista" routerLinkActive="active" >Lista</a></li>
    </ul>


    <button mat-raised-button (click)="login()" class="">Log in</button>
    <button mat-raised-button (click)="logout()" class="">Log out</button>

    <div class="order-last" ><img class=" rounded-full h-12" /></div>
  </div>
  <div class=" pr-2 sm:hidden block ">
    <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="mostrarMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div id="menu" class=" hidden bg-slate-300 pl-5 pr-2 py-5 top-16 right-0 absolute">
  <ul class="flex flex-col items-center gap-5 pr-3">
    <li><a routerLink="/home" routerLinkActive="active" mat-button>Início</a></li>
    <li><a routerLink="/lista" routerLinkActive="active" mat-button>Lista</a></li>
    <li>
      <button  (click)="login()" mat-raised-button>Log in</button>
    </li>
    <li class="flex gap-2">
      <button (click)="logout()" mat-raised-button>Log out</button>
    </li>
  </ul>

</div>
